* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 340px;
    padding: 20px;
    background: #333;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

#display {
    width: 100%;
    height: 75px;
    margin-bottom: 15px;
    padding: 10px;

    border: none;
    outline: none;
    border-radius: 12px;

    background: #111;
    color: white;

    font-size: 30px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 12px;

    background: #555;
    color: white;

    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: #777;
}

button:active {
    transform: scale(0.95);
}

.special {
    background: #777;
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #e68900;
}

.equal {
    background: #2196f3;
}

.equal:hover {
    background: #1976d2;
}